.workWidget{
    padding-bottom: 100px;
    display: flex;    
    flex-direction: column;

}

.workWidgetContainer{
    display: flex;
    box-sizing: border-box;
}

.workWidgetContainer>div{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: 0.6s;
}

.workWidgetContainer img{
    width: 100%;
    height: 100%;
}

.workWidgetContainer div:hover .textcover{
    bottom: 0%;
    transition: 0.6s;
}

.textcover{
    width: 100%;
    height: 32%;
    bottom: -32%;
    background-color: #fff;
    position: absolute;
    transition: 0.6s;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.textcover h2{
    color: black;
    font-size: 14px;
    font-weight: 400;
    width: 80%;

}

.textcover h3 {
    color: black;
    font-size: 24px;
    margin-top: 5%;
}

.textcover h4 {
    color: black;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5%;
}