.homeContainer{
    min-width: 100vh;
    background-color: #000;
}

.homeSlide{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

.homeSlideCover{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 100px;
    margin-top: -20px;
}

.homeSlideDesc{
    width: 40%;
    text-align: center;
    color: #fff;
}

.homeWorkWidget{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.homeWorkWidgetTitle{
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 100px;
}

.homeService{
    display: flex;
    flex-direction: column; padding-bottom: 100px;
}

.homeService span{
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 100px;
}

.homeAboutUs{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding-bottom: 100px;

    
}

.homeAboutUs span{
    text-align: center;
    margin-bottom: 70px;
    font-size: 48px;
    text-transform: uppercase;

}

.homeAboutUs h3{
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}