.Link{
  text-decoration: none;
}
span{
  font-size: 26px;
  color: rgb(255, 255, 255);
}

h1{
  color: rgb(255, 255, 255);
  margin-top: 0;margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

h2 {
  color: rgb(255, 255, 255);
  margin-top: 0;
    margin-bottom: 0;
}

h3 {
  color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  color: rgb(255, 255, 255);
  margin-top: 0;
    margin-bottom: 0;
}

h5 {
  color: rgb(255, 255, 255);
  margin-top: 0;
    margin-bottom: 0;
}
